body {
  background-image: url("../images/photo.jpg");
  background-position: center;
  color: #fff;
}
.scroll-container {
  height: 100vh;
  margin: 0 auto;
  max-width: 700px;
  overflow: auto;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: mandatory;
  text-align: center;
}
.scroll-content {
  border: 2px solid #808000;
  height: 300px;
  margin-bottom: 2em;
  margin-top: 2em;
}
.content {
  border: 1px solid #800080;
  margin: 0 auto;
  margin-top: 2em;
  max-width: 700px;
  padding: 1em;
}
